.ui-bar-g {
    border: 1px solid #2d3033 /*{a-bar-border}*/;
    border-left: 0px;
    border-right: 0px;
    color: #fff /*{a-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #3e4957;
    background: rgb(108,155,143); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(108,155,143,1) 0%, rgba(68,131,122,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(108,155,143,1)), color-stop(100%,rgba(68,131,122,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(108,155,143,1) 0%,rgba(68,131,122,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(108,155,143,1) 0%,rgba(68,131,122,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(108,155,143,1) 0%,rgba(68,131,122,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(108,155,143,1) 0%,rgba(68,131,122,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9b8f', endColorstr='#44837a',GradientType=0 ); /* IE6-9 */
}

.ui-btn-up-g {
    border: 1px solid #375073;
    background: #44837a;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #40536d;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: rgb(108,155,143); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(108,155,143,1) 0%, rgba(68,131,122,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(108,155,143,1)), color-stop(100%,rgba(68,131,122,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(108,155,143,1) 0%,rgba(68,131,122,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(108,155,143,1) 0%,rgba(68,131,122,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(108,155,143,1) 0%,rgba(68,131,122,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(108,155,143,1) 0%,rgba(68,131,122,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9b8f', endColorstr='#44837a',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.ui-btn-up-g .ui-btn-inner, .ui-btn-hover-g .ui-btn-inner, .ui-btn-down-g .ui-btn-inner { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
.ui-btn-hover-g {
    border: 1px solid #1b49a5;
    background: #2463de;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #40536d;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#779be9), color-stop(0.5, #376fe0), color-stop(0.505, #2260dd), to(#2463de));
    background-image: -webkit-linear-gradient(top, #779be9, #376fe0 50%, #2260dd 52%, #2463de); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #779be9, #376fe0 50%, #2260dd 52%, #2463de); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #779be9, #376fe0 50%, #2260dd 52%, #2463de); /* IE10 */
    background-image:      -o-linear-gradient(top, #779be9, #376fe0 50%, #2260dd 52%, #2463de); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #779be9, #376fe0 50%, #2260dd 52%, #2463de);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}